:root {
  --primary-btn-clr: #627d62;

  --primary-btn-hover: #4a644a;
  --primary-bg-clr: #e7e6d4;

  --primary-mobile-nav-clr: #627d62;

  --btn-radius: 0.6rem;
  --menu-hover-bg: #d9c488;

  --primary-footer-bg-clr: hsl(156, 7%, 14%);

  --primary-font-clr: #2a2d29;
  --secondary-font-clr: hsl(0, 0%, 100%);


  --primary-footer-clr: hsl(88, 13%, 53%);


  --primary-valid-clr: hsl(106, 40%, 47%);

  --primary-notvalid-clr: hsl(0, 73%, 54%);


  --scroll-thumb-clr: hsla(0, 0%, 3%, 0.979);
  --scroll-track-clr: hsl(0, 0%, 100%);
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Ysabeau', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  position: relative;

}

::-webkit-scrollbar {
  width: 0.6rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-clr);
}

::-webkit-scrollbar-track {
  background-color: var(--scroll-track-clr);
}



html {
  background-color: var(--primary-bg-clr);
}

.bold {
  font-weight: 700;
}

.regular {
  font-weight: 400;
}